<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</head>
<body>
    <h2>접근 거부(Access Denied)</h2>
    <button onclick="goBack()">이전 페이지로</button>
    <button onclick="window.location.href='http://localhost:5000/'">메인 페이지로</button>
</body>
</html>